body {
  background-color: #1f1f1f;
  padding: 1.5rem 0;
}

a {
  text-decoration: none;
}

img {
  border-radius: 0.3rem;
}

.bold {
  font-weight: bold;
}

.breadcrumb {
  margin-bottom: 0;
  transition: .2s;
}
